---
import { Image } from "astro:assets"
import imageService from '../images/Rectangle 6.png'
---

<div id="servicios" class=" h-screen lg:flex lg:flex-col lg:justify-center lg:items-center my-[10rem]">
    <h1 class=" font-bold text-xl  lg:w-[300px] text-center my-6">Servicios con Asombro</h1>
    <div class=" flex flex-row justify-center items-center flex-wrap  w-[90vw]">
        <div class=" mx-6 my-3">
            <Image class=" serviceImage" src={imageService} alt="service"/>
            <h2 class=" font-semibold text-sm my-5">Manejo de redes sociales & Estrategia digital</h2>
            <p class=" w-[281px]">
                Lorem ipsum dolor sit amet, consecte adipiscing elit ut aliquam 
            </p>
        </div>
        <div class=" mx-6 my-3">
            <Image class=" serviceImage" src={imageService} alt="service"/>
            <h2 class=" font-semibold text-sm my-5">Diseño gráfico</h2>
            <p class=" w-[281px]">
                Lorem ipsum dolor sit amet, consecte adipiscing elit ut aliquam 
            </p>
        </div>
        <div class=" mx-6 my-3">
            <Image class=" serviceImage" src={imageService} alt="service"/>
            <h2 class=" font-semibold text-sm my-5">Diseño POP (banner, rotulación y más)</h2>
            <p class=" w-[281px]">
                Lorem ipsum dolor sit amet, consecte adipiscing elit ut aliquam 
            </p>
        </div>
        <div class=" mx-6 my-3">
            <Image class=" serviceImage" src={imageService} alt="service"/>
            <h2 class=" font-semibold text-sm my-5">Paquetes reels & tiktok</h2>
            <p class=" w-[281px]">
                Lorem ipsum dolor sit amet, consecte adipiscing elit ut aliquam 
            </p>
        </div>
        <div class=" mx-6 my-3">
            <Image class=" serviceImage" src={imageService} alt="service"/>
            <h2 class=" font-semibold text-sm my-5">Fotografía & Video comercial</h2>
            <p class=" w-[281px]">
                Lorem ipsum dolor sit amet, consecte adipiscing elit ut aliquam 
            </p>
        </div>
        <div class=" mx-6 my-3">
            <Image class=" serviceImage" src={imageService} alt="service"/>
            <h2 class=" font-semibold text-sm my-5">Manual de marca e identidad corporativa</h2>
            <p class=" w-[281px]">
                Lorem ipsum dolor sit amet, consecte adipiscing elit ut aliquam 
            </p>
        </div>
        
        
        
    </div>
</div>




<style>

.serviceImage{
    height: 241px;
    width: 362px;
}

</style>